 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-lg-4 col-lg-offset-2">
                    <!-- <p>Hi, there. My name is Quang, and I am a UX Designer/Researcher who is passionate about providing values for all people with technology products.</p> -->
                    <img class="img-responsive" src="img/about-quang.png" alt="profile-pic" style="width: 1000px; height: 340px;"/>
                </div>
                <div class="col-lg-4">
                    <p>Hi, there. My name is Quang, and I am a UX Designer/Researcher who is passionate about providing values for all people with technology products. I am currently pursuing my degree in Computer Science at Earlham College, where I discovered my love for technology and design. My work aims at integrating insightful design solutions into tech products that help people solve their problems as well as leverage their life.</p>
                </div>
                <!-- <div class="col-lg-4">
                    <p>I have previously worked on software-related roles at FPT Software and Earlham.</p>
                </div> -->
            </div>
        </div>
    </section>
